body {
    background-color: black;
}
.section {
    height:100vh;
    width:100vw;
    margin: 0;
    padding: 0;
    display: block;
    border: 1px solid white;
    overflow: scroll;
}

.sectionThird {
    height:25vh;
    width:100vw;
    background-color: rgb(14, 205, 239);
    text-align: center;
    padding-top: 4em;;;
}




.Nav {

    height: 20em;
    max-height: 20em;
    width:8em;
    max-width:8em;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    border-radius:  100px;
    position: fixed;
    top:50% ;
    left:92%;
    background-color: rgba(0, 0, 0, 0.8);

}




.Nav ul li {
    list-style: none;
    text-align: center;
    margin: 3em;
    padding: 10px;
    color: white;
}

.Nav ul  {
    padding-left:  0;
}

.spanNav {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: grey;
    text-indent: -9999px;
}

.spanNav2 {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: grey;
    text-indent: -9999px;

}

#Intro {
    background-image: url('https://static.pexels.com/photos/176851/pexels-photo-176851.jpeg');
    background-size: cover;
    text-align: center;

}

#IntroText {
    position: absolute;
    top:35%;
    left:28%;
    color:white;
}

#IntroText h1{
    color: white;
    font-size: 8em;
}

#IntroLogo{
    position: absolute;
    top:70%;
    left:45%;
}

#downArrow {
    height:3em;
    position: absolute;
    top:80%;
    left:48%;
    display: none;
}

#downArrow:hover {
    height:3.1em;
    position: absolute;
    top:80%;
    left:48%;
}





#backgroundProfileImage {
    height:100vh;
}

#backgroundProfileImage img {
    height:30em;
    width: 30em;
    border-radius: 100%;
    position: absolute;
    top:20%;
    left:24%;
}

#background p, h4{
    color:white;
    font-size: 1.5em;
    line-height: 200%;
}

#backgroundText {
    margin-top:10em;
}

#skills {
    /*background-image: url("https://ak5.picdn.net/shutterstock/videos/20133778/thumb/1.jpg");*/
    background-size: cover;
    color: black;


}

#experiance {
    color:white;
    text-align: center;
}

.educationHeader h1, img{
    display: inline-block;
}


.techPic {
    border: 1px solid white;
    display: inline-block;
    padding:0.5em;
    border-radius: 1em;
    margin: 1em;
    /*background-color: rgba(0, 0, 0, 0.1);*/


}
.techPic h4 {
    color: white;


}
.tools ul {
    display: inline-block;
    list-style: none;
    margin-top: 5em;;
    color:white;

}

.tools li {
    margin: 0.5em;
    font-size: 1.7em;
}

#ul {
    margin:0;
    float:right;
}



.tools img {
    margin-right:0.6em;
}


#contact {
    color: white;
    text-align: center;
    background-image: url("https://static.pexels.com/photos/36487/above-adventure-aerial-air.jpg");
    background-size: cover;

}

#contactEmail {
    width:70%;
    margin:auto;
    margin-top: 10%;
}

#contactEmail input, textarea {
    background-color: rgba(0, 0, 0, 0.0);
    border:5px solid grey;
    border-radius: 20em;
}

#contactEmail input {
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 2em;
    height:4em;
}

#contactEmail textarea {
    text-align: center;
    padding-top: 1em;
    margin-top: 5em;
}

#contactEmail button {

}




#experiance {
    /*text-align: center;*/
}

#project img {
    height: 20em;
    margin-top: 7em;
}

#project p {
    font-size: 1.2em;
}
#project ul {
    list-style:none;

}

#icon li{
    display: inline-block;
}

.resume {
    font-size: 5em;
}

.resume a{
    text-decoration: none;
}
